:root {
    background: black;
    color:white;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 10fr 1fr;
}

.hero {
    background:navy;
    font-size: 2rem;
    grid-row: 1;
}

.middle {
    grid-row: 2;
    display: flex;
}

.sidebar {
    background: blue;
    width: 120px;
}

.library {
    background:skyblue;
    flex-grow: 1;
}

.footer {
    grid-row: 3;
    background: navy;
}

.newbook {
    padding: 0.2rem;
}

.bookbutton {
    padding:0.5rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.collapse {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(144deg) brightness(102%) contrast(102%);
}

.book-form {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 0.1fr 0.4fr 1fr;
    grid-template-rows: auto;
    border: 0;
}

.formlabel {
    grid-column: 1/3
}

#book-title, #book-author, #book-pages {
    grid-column: 3;
}

.read-check {
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    grid-column: 1/4;
}

.hidden {
    visibility: collapse;
}